.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.login__container {
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,0.75);

}

.login__container > img {
    object-fit: contain;
    height: 160px;
    margin-top: 40px;
}

.login__text {
    text-align: center;
    margin-top: 20px;
}

.login__g {
    color: #4285F4;
    font-weight: bold;
    font-size: 40px;
}

.login__m {
    color: #C5221F;
    font-weight: bold;
    font-size: 40px;
}

.login__a {
    color: #EA4335;
    font-weight: bold;
    font-size: 40px;
}

.login__i {
    color: #FBBC04;
    font-weight: bold;
    font-size: 40px;
}

.login__l {
    color: #34A853;
    font-weight: bold;
    font-size: 40px;
}

.login__button {
    font-weight: bold !important;
    font-size: 14px !important;
    width: 70%;
    margin-top: 40px !important;
    background-color: #4285F4 !important ;
    color: white !important;
    padding: 10px !important;
}

